.property-modal-list-item-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin: 1rem;
  background-color: #d9d9d9;
  padding: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.property-modal-list-btn {
  height: min-content;
  width: min-content;
  padding: 1rem;
  color: #ececec;
  background-color: #1c825d;
  border: none;
  border-radius: 5px;
}

.property-modal-list-btn:hover {
  transition: all 0.5s ease-in-out;
  color: slategray;
  background-color: #25c48a;
}

.property-modal-list-btn:active {
  background-color: lightgray;
  transition: all 0.5s;
}
