.property-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10rem;
  z-index: 100;
}

.property-modal-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: grid;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 5px;
}

.property-modal-search-div {
  display: grid;
  grid-template-columns: 2fr min-content;
  margin-bottom: 0.5rem;
}

.property-modal-header {
  padding: 0 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.property-modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.property-modal-label-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

.property-modal-search-btn {
  height: min-content;
  width: min-content;
  padding: 0.5rem 3rem;
  align-self: center;
  border: 1px solid grey;
  border-radius: 5px;
}

.property-modal-btn-stage {
  margin-top: 1rem;
}

.property-modal-label {
  margin-bottom: 0.5rem;
}

.property-modal-staged-title {
  margin-bottom: 0.3rem;
}

.property-modal-input {
  border-radius: 5px;
  border: none;
  width: 400px;
  height: 40px;
  background-color: white;
}

.property-modal-hr-divide {
  border-width: 0;
  background: rgb(33, 33, 33);
  color: rgb(33, 33, 33);
  height: 0.04em;
}

.property-modal-btn {
  margin-bottom: 0;
  border-radius: 5px;
  border: none;
}

.property-modal-btn-div {
  display: flex;
}

.property-modal-item-block-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}

.property-modal-staged {
  background-color: #ececec;
  border-radius: 5px;
  padding: 2rem;
}

.property-modal-confirmed {
  background-color: #ececec;
  border-radius: 5px;
  padding: 2rem;
}

.property-modal-btn-confirm {
  background-color: #1c825d;
  padding: 1rem 8rem;
  margin: 2rem;
  font-size: 24px;
}

.property-modal-btn-cancel {
  background-color: #ea5a5a;
  padding: 1rem 8rem;
  margin: 2rem;
  font-size: 24px;
}

.property-modal-deadline {
  color: #f50606;
}
