.property-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10rem;
  z-index: 100;
}

.property-modal-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: grid;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 5px;
}

.property-modal-header {
  padding: 0 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.property-modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.property-modal-label-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

.property-modal-label {
  margin-bottom: 0.5rem;
}

.property-modal-input {
  border-radius: 5px;
  border: none;
  width: 400px;
  height: 40px;
  background-color: white;
}

.property-modal-btn {
  margin: 2rem;
  margin-bottom: 0;
  border-radius: 5px;
  padding: 1rem 8rem;
  color: white;
  border: none;
  font-size: 24px;
}

.property-modal-staged {
  border: solid black 1px;
}

.property-modal-confirmed {
  border: solid black 1px;
}

.property-modal-btn-confirm {
  background-color: #1c825d;
}

.property-modal-btn-cancel {
  background-color: #ea5a5a;
}

.property-modal-deadline {
  color: #f50606;
}
