.transfer-runner-btn-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.transfer-runner-btn {
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  margin: 0.3rem;
  font-size: 20px;
}

.transfer-runner-btn:hover {
  color: #ececec;
}

.transfer-runner-btn-pick {
  grid-column: 1;
}
.transfer-runner-btn-email {
  grid-column: 2;
}
.transfer-runner-btn-change {
  grid-column: 1/3;
}
.transfer-runner-btn-completed {
  grid-column: 1/3;
  background-color: #1c825d;
}
.transfer-runner-btn-cancel {
  grid-column: 1/3;
  background-color: #f26363;
}
