.hold-runner-request-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.hold-runner-request-btn-request {
  display: flex;
  align-self: center;
  font-size: 24px;
  padding: 1rem 3rem;
  background-color: #1c825d;
  border: none;
  border-radius: 5px;
}

.hold-runner-request-btn:hover {
  transition: all 0.3s ease-out;
  color: grey;
  border-color: grey;
}

.hold-runner-request-btn-request:hover {
  color: #ececec;
  transition: all 0.5s ease-out;
}
