.transfer-request-list-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 1rem;
  background-color: #d9d9d9;
  padding: 2rem;
}

.transfer-request-list-nothing-booked {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
