.transfer-request-list-border {
  position: relative;
  border: 1px solid black;
}

.transfer-request-list-department {
  position: absolute;
  background-color: #ececec;
  top: -1.65rem;
  left: 20px;
}

.transfer-request-list-toggle {
  position: absolute;
  background-color: #ececec;
  top: -1.65rem;
  right: 50px;
}
