.top-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 34px;
  text-decoration: none;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-column: 2;
  grid-row: 1;
}

.top-nav-btn {
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
}

.active {
  background-color: #c4c1c1;
  color: white;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.top-nav-btn:hover {
  transition: all 0.3s ease-out;
  color: grey;
}

.active:hover {
  transition: all 0.5s ease-out;
  color: black;
}
