.top-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 40px;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-column: 2;
  grid-row: 1;
}

.top-nav-btn {
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.top-nav-active {
  background-color: #c4c1c1;
  color: white;
  border-radius: 10px;
}

.top-nav-btn:hover {
  color: grey;
}

.top-nav-active:hover {
  color: black;
}
