.glance-box {
  display: grid;
  margin-bottom: 2rem;
}

.glance-box-direction {
  font-size: 20px;
  margin-bottom: 0px;
}

.glance-box-not-booked {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
}

.glance-box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #4b7bf6;
  font-size: 20px;
  background-color: #ececec;
}

.glance-box-btn:hover {
  color: #0d3aaa;
  transition: all 1s ease-out;
}

.glance-box-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
