.hold-request-list-border {
  position: relative;
  border: 1px solid black;
  grid-column: 1/ 3;
  padding: 2rem;
  border-radius: 10px;
  margin: 1.5rem;
}

.hold-request-list-department {
  position: absolute;
  background-color: #ececec;
  top: -1.65rem;
  left: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hold-request-list-toggle {
  position: absolute;
  background-color: #ececec;
  top: -1.65rem;
  right: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}
