.transfer-runner-request-container {
  grid-column: 1/ 3;
  display: grid;
  grid-template-columns: auto 3fr auto;
  padding: 3rem 0.5rem;
  column-gap: 3rem;
  height: min-content;
}

.transfer-runner-request-btn-select {
  grid-column: 1;
  justify-self: start;
  align-self: center;
  height: 100%;
  font-size: 16px;
  padding: 1rem 2rem;
  background-color: #ececec;
  border: solid black 1px;
  border-radius: 10px;
  cursor: pointer;
}
.transfer-runner-request-btn-request {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  padding: 1rem 3rem;
  background-color: #1c825d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.transfer-runner-request-btn-toggle {
  grid-column: 3;
  justify-self: end;
  height: 100%;
  align-self: center;
  font-size: 16px;
  padding: 1rem 2rem;
  background-color: #ececec;
  border: solid black 1px;
  border-radius: 10px;
  cursor: pointer;
}

.transfer-runner-request-btn:hover {
  transition: all 0.3s ease-out;
  color: grey;
  border-color: grey;
}

.transfer-runner-request-btn-request:hover {
  color: #ececec;
  transition: all 0.5s ease-out;
}
