.not-booked-container {
  display: grid;
  max-height: 10rem;
  background-color: #ececec;
  padding: 2rem;
}

.not-booked-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.not-booked-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c825d;
  font-size: 32px;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  align-self: center;
  justify-self: center;
  border: none;
}
