.side-bar {
  grid-column: 1;
  grid-row: 2;
  background-color: #ececec;
  padding: 1.5rem;
  height: min-content;
  border-radius: 5px;
}

.side-bar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
