.property-modal-search-container {
  display: flex;
  border: none;
  outline: none;
}

.property-modal-search-label {
  margin: 1rem;
  padding: 0.5rem;
}

.property-modal-search-input {
  border: none;
  background-color: #ececec;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  width: 300px;
}
