.App {
  background-color: #d9d9d9;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto 1fr;
  column-gap: 2rem;
  padding: 4rem;
}

@media (max-width: 1000px) {
  .App {
    grid-template-columns: auto;
    padding: 1rem;
  }
}
