.not-booked-container {
  display: grid;
  max-height: 10rem;
  background-color: #ececec;
  padding: 2rem;
  border-radius: 5px;
}

.not-booked-btn {
  display: flex;
  background-color: #1c825d;
  font-size: 32px;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  align-self: center;
  justify-self: center;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.not-booked-btn:hover {
  color: #ececec;
  background-color: #25c48a;
}

@media (max-width: 1000px) {
  .not-booked-container {
    padding: 0.5rem;
    column-gap: 0.5rem;
  }

  .not-booked-btn {
    font-size: 10px;
    padding: 0.5rem;
  }
}
